.contentListaEmpresas{
    max-width: 70%;
    width: auto;
    min-height: 200px;
    margin: 3vw auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
    position: relative;
    margin-bottom: 2em;
}

.listaEmpresas{
    width: auto;
    min-height: 200px;
    margin: 3vw auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
    position: relative;
    margin-bottom: 2em;
    min-height: 64em;
    
}


.moreButton{
    background-color: $primary;
    position: absolute;
    bottom: -2em;
    display: block;
    border-radius: 10px;
    padding: 0.5em 2em;
}

.loadMore{
    position: absolute !important;
    bottom: -2em;
    display: block;
    border-radius: 10px;
    padding: 0.5em 2em;
}