.listaEmpresas{
    max-width: 70%;
    width: auto;
    min-height: 200px;
    margin: 3vw auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
    position: relative;
}