
.contentLogin{
    display: flex ;
    padding: 36px;
    flex-direction: column ;
    max-width: 400px;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.cerrarModal{
    position: absolute;
    top: 26px;
    left: 42px;
    cursor: pointer;
}

.continuar{
    font-size: 1.2em;
}

.contentLogin button{
    display: flex;
    margin: 25px 0px !important;
    position: relative;
    min-height: 45px;
}

.button  span{
    text-transform: initial;
}

.button img,
.button svg{
    height: 40px !important;
    font-size: 40px;
    position: absolute;
    top: 3px;
    left: 25px;
}

.buttons{
    text-align: center;
}