.dashboardContainer {
  display: flex;
  min-height: 100vh;
  background-color: #f5f7fa;
}

.dashboardContent {
    flex-grow: 1;
    padding: 2rem;
    background: white;
    border-left: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: self-start;
    padding-top: 186px;
}
