.BusquedaCategorias{
    width: 100%;
    margin-top: 0.5vw;
    overflow-x: scroll;
    padding-right: 1.5vw;
    overflow-y: hidden;
    list-style-type: none;
    display: flex;
    height: 6vw;
    margin-left: 0.5vw;
}

.touch{
    align-items: center;
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
    text-align: center;
    cursor: pointer;
}

#makoTouch{
    margin-left: 0.5em;
}

.touch:hover{
    transform: scale(1.1);
}

.touch:hover .circulo{
    background-color: $secondary;
}

.circulo{
    width: 3em;
    height: 3em;
    background-color: $secondary;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.circuloIcon{
    width: 60%;
    height: auto;
    align-self: center;
}

.textoCat{
    font-size: 0.6em;
    width: 100%;
}

