 .Header{
  height: 280px;
  width: 100%;
  background-color: $primary;
  display: flex;
  position: relative;
  z-index: 10;
  
  -webkit-box-shadow: 3px 5px 22px -3px rgba(0,0,0,0.5); 
  box-shadow: 3px 5px 22px -3px rgba(0,0,0,0.5);
} 

 .contenido{
  width: 54%;
  height: 100%;
  margin-left: 15vw; 
  margin-top: 15px;
  position: relative;
}

 .slide{
  width: 33svw;
  height: 500px;
  right: 0vw;
  position: absolute;
  overflow: hidden;
} 

.tituloMako {
  display: flex;
  width: 15vw;
  height: 100%;
  flex-direction: column;
  position: absolute;
  font-size: 0.5em;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.tituloMako>.makoNombre{
  display: none;
}

.tituloMako .imgMakoLogo{
  width: 150px;
  height: auto;
}

  .fondoHeader{
      visibility: hidden;
  }