
.contentLogin{
    display: flex ;
    padding: 40px;
    flex-direction: column ;
    align-items: center;
    
}

.contentRegistrar{
    display: flex ;
    padding: 0 40px;
    flex-direction: column ;
    align-items: center;
}


.guardar{
    font-size: 25px ;

}
.formulario{
    font-size: 20px !important;
    margin-top: 10px !important;
    display: flex !important;
    border-radius: 2vw !important;
    width: 260px;
    
}
.texto{
    margin-top: 40px;
    color: rgb(0, 0, 0) !important

}

.iconMenuPrincipal{
    font-size: 50px !important;
    position: absolute;
    top: 5px;
    right: -30px;
    z-index: 10;
    cursor: pointer;
    width: 30px;
}

.buttom{
    position: absolute;
    right: 10px;
    cursor: pointer;
    background-color: red;
}

@media only screen and (max-width: 600px) {
.iconMenuPrincipal{
    right: 0px;
}
}

@media only screen and (max-width: 520px) {
    .iconMenuPrincipal{
        right: 0px;
    }
}

@media only screen and (max-width: 414px) {

    .iconMenuPrincipal{
        font-size: 40px !important;
        right: 0.1em;
        top: 0.1em;
    }
}
