.menuPrincipal {
    background: white;
    border-radius: 16px;
    width: 320px;
    max-width: 380px;
    overflow: hidden;
    padding-bottom: 16px;
    min-height: 550px;
  }

  .encabezado {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: $primary;
    padding: 1rem;
    border-radius: 16px 16px 0 0;
    margin-top: -2px;
  }
  
  .usuarioInfo {
    display: flex;
    flex-direction: column;
  }
  
  .bienvenida {
    font-size: 0.75rem;
    color: #ccc;
  }
  
  .nombre {
    font-weight: 600;
  }
  
  .menuItems {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 32px;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
   
    &:hover {
        background-color: #f2f2f2;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
  }
  
  .menuIconLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap; // 🔥 evita el wrap
    overflow: hidden;    // 🔒 asegura que no desborde
    text-overflow: ellipsis;
  }
  
  .badge {
    color: $secondary;
    font-size: 0.75rem;
  }
  
  .buttonMenu {
    padding: 0.5rem;
    text-align: left;
  }
  
  .cerrarSesion {
    color: $gray1-5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: center;
    position: absolute;
    bottom: 8px;
    right: 0;
  }
  
  .menuItem.collapsed {
  justify-content: center;
  margin-inline: 0; // sin sangría lateral
  padding: 0.75rem;

  .menuIconLabel {
    justify-content: center;
    gap: 0; // sin separación entre ícono y texto
  }

  .label {
    display: none; // asegurarse que texto esté oculto
  }

  .badge {
    display: none; // no mostrar badges tampoco
  }
}

.menuItem.active {
  background-color: $primaryLigth; // 🎨 fondo claro (ajústalo a tu paleta)
  font-weight: 600;
}