.container{
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.container span{
    text-align: center;
    margin-bottom: 32px;
}